<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 95vh;

        background-color: blue;
    }

    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        padding: 5rem;

        border-style: none;
        border-radius: 15px;

        background-color: white;
    }

    .formulario__titulo{
        font-weight: 400;
    }

    .formulario__botao{
        background-color: blue;
        color: white;

        width: 50%;

        padding: 0.5rem;

        border-style: none;
        border-radius: 5px;
    }
</style>
<body>
    <main>
        <form action="/excluir/<%= id %>" class="formulario">
            <h1 class="formulario__titulo">Deseja mesmo excluir esse login?</h1>
            <button type="submit" class="formulario__botao">Excluir</button>
        </form>
    </main>
</body>
</html>